<h1>Filtrar personajes por nombre</h1>

<form method="post" class="mt-4">
    <input type="text" name="nombre" class="form-control" placeholder="Nombre" />
    <button class="btn btn-info mt-3 w-100">Filtrar</button>
</form>

<h2 class="text-danger text-center mt-5">@ViewData["MENSAJE"]</h2>

@if (Model != null)
{
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Personaje pers in Model)
            {
                <tr>
                    <td>@pers.IdPersonaje</td>
                    <td>@pers.NomPersonaje</td>
                    <td><img src="@pers.Imagen" width="300" /> </td>
                </tr>
            }
        </tbody>
    </table>
}