<h1>Crear personaje</h1>

<form method="post">
    <label class="form-label mt-3 fw-bold">ID</label>
    <input type="number" class="form-control" name="idpersonaje" />
    <label class="form-label mt-3 fw-bold">Nombre</label>
    <input type="text" class="form-control" name="nompersonaje" />
    <label class="form-label mt-3 fw-bold">Imagen</label>
    <input type="text" class="form-control" name="imagen" />
    <button class="btn btn-success w-100 mt-3">Crear personaje</button>
</form>