@model List<Personaje>

<h1>Personajes</h1>
<a asp-controller="Personajes" asp-action="Create"
   class="btn btn-success my-4 w-75 mx-auto d-block">
    Crear personaje
</a>

<table class="table table-borderless">
    <thead>
        <tr>
            <th>ID Personaje</th>
            <th>Nombre</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Personaje personaje in Model)
        {
            <tr>
                <td class="col-2">@personaje.IdPersonaje</td>
                <td class="col-5">@personaje.NomPersonaje</td>
                <td class="col-5">
                    <img class="w-75" src="@personaje.Imagen" height="200"/>
                </td>
            </tr>
        }
    </tbody>
</table>